<section>
    <h2>Add a new book, scemo</h2>
    <form [formGroup]="applyForm" (submit)="submitAddBook()">
        <label for="title">title</label>
        <input type="text" formControlName="title" id="title">
        <label for="author">author</label>
        <input type="text" formControlName="author" id="author">
        <label for="summary">summary</label>
        <input type="text" formControlName="summary" id="summary">
        <label for="image">image url</label>
        <input type="text" formControlName="image" id="image">
        <label for="subject">subject</label>
        <input type="text" formControlName="subject" id="subject">
        <button type="submit">enter</button>
    </form>
</section>
